@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
       url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),
       url('../fonts/AvenirNextLTPro-Regular.svg#AvenirNextLTPro-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
       url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
       url('../fonts/AvenirNextLTPro-Bold.svg#AvenirNextLTPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}