@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratRegular_TR.eot');
    src: url('../fonts/MontserratRegular_TR.eot') format('embedded-opentype'),
         url('../fonts/MontserratRegular_TR.woff2') format('woff2'),
         url('../fonts/MontserratRegular_TR.woff') format('woff'),
         url('../fonts/MontserratRegular_TR.ttf') format('truetype'),
         url('../fonts/MontserratRegular_TR.svg#MontserratRegular_TR') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratBold_TR.eot');
    src: url('../fonts/MontserratBold_TR.eot') format('embedded-opentype'),
         url('../fonts/MontserratBold_TR.woff2') format('woff2'),
         url('../fonts/MontserratBold_TR.woff') format('woff'),
         url('../fonts/MontserratBold_TR.ttf') format('truetype'),
         url('../fonts/MontserratBold_TR.svg#MontserratBold_TR') format('svg');
    font-weight: bold;
}