/* Regular */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/pnr.eot');
	src: url('../fonts/pnr.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pnr.woff2') format('woff2'),
		 url('../fonts/pnr.woff') format('woff'),
		 url('../fonts/pnr.ttf') format('truetype'),
		 url('../fonts/pnr.svg#proxima_nova_rgregular') format('svg');
	font-style: normal;
	font-weight: 400;
}
/* Regular Italic */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/pnri.eot');
	src: url('../fonts/pnri.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pnri.woff2') format('woff2'),
		 url('../fonts/pnri.woff') format('woff'),
		 url('../fonts/pnri.ttf') format('truetype'),
		 url('../fonts/pnri.svg#proxima_novaregular_italic') format('svg');
	font-style: oblique;
	font-weight: 400;
}
/* Light */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/pnl.eot');
	src: url('../fonts/pnl.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pnl.woff2') format('woff2'),
		 url('../fonts/pnl.woff') format('woff'),
		 url('../fonts/pnl.ttf') format('truetype'),
		 url('../fonts/pnl.svg#proxima_novalight') format('svg');
	font-style: normal;
	font-weight: 300;
}
/* Light Italic*/
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/pnli.eot');
	src: url('../fonts/pnli.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pnli.woff2') format('woff2'),
		 url('../fonts/pnli.woff') format('woff'),
		 url('../fonts/pnli.ttf') format('truetype'),
		 url('../fonts/pnli.svg#proxima_novalight_italic') format('svg');
	font-style: oblique;
	font-weight: 300;
}
/* Semibold */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/pnsb.eot');
	src: url('../fonts/pnsb.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pnsb.woff2') format('woff2'),
		 url('../fonts/pnsb.woff') format('woff'),
		 url('../fonts/pnsb.ttf') format('truetype'),
		 url('../fonts/pnsb.svg#proxima_novasemibold') format('svg');
	font-style: normal;
	font-weight: 500;
}
/* Semibold Italic */
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/pnsbi.eot');
	src: url('../fonts/pnsbi.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pnsbi.woff2') format('woff2'),
		 url('../fonts/pnsbi.woff') format('woff'),
		 url('../fonts/pnsbi.ttf') format('truetype'),
		 url('../fonts/pnsbi.svg#proxima_novasemibold_italic') format('svg');
	font-style: oblique;
	font-weight: 500;
}