//
// https://github.com/rodneyrehm/viewport-units-buggyfill
// 
// sample usage:
//
// content unquote(' "viewport-units-buggyfill; width: 50vmin; height: 50vmax; top: calc(50vh - 100px); left: calc(50vw - 100px);" ')
//
// js side:
//
//	window.viewportUnitsBuggyfill.init({
//		refreshDebounceWait: 50,
//		hacks: window.viewportUnitsBuggyfillHacks
//	});