<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= appName %></title>
    <link rel="stylesheet" href="assets/css/main.min.css" />
</head>
<body>

<!-- header -->
<header></header>
<!-- /header -->

<!-- section -->
<section></section>
<!-- /section -->

<!-- footer -->
<footer></footer>
<!-- /footer -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> <!-- production -->
<script src="assets/js/main.min.js"></script> <!-- production -->
</body>
</html>
